<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Request Submitted</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      </head>
      
      <body data-spy="scroll" data-target=".navbar" data-offset="50">
<!--
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      
        <ul class="navbar-nav mr-auto">
          <li class="nav-brand" style="color: aliceblue; font-size: 18pt;">
            Travel Authorization Report
          </li>
        </ul>
      
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#client_info_fed">Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tpoc_info_fed">TPOC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#traveler_info_fed">Traveler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#employee_training">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pre_deployment_tasks">Tasks</a>
          </li>
        </ul>
    </nav>
-->

    <h2>Travel Authorization Report</h2>

    <table class="table table-striped table-dark">
        <thead>
            <th>Date</th>
            <th>Task Order</th>
            <th>Industry Partner</th>
            <th>Client ID</th>
            <th>Project Name</th>
        </thead>
        {% for item in data %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    
    </body>
</html>